.portfolioContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    align-content: space-evenly;
    position: relative;
    &__link {
        height: 33%;
        width: 32%;
        border: 3px solid $color1;
        cursor: pointer;
        box-shadow: 0px 0px 12px black;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    &__background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color1;
        clip-path: polygon(73% 0, 100% 0, 100% 100%, 0 100%, 100% 100%, 100% 60%, 35% 0);
        margin-left: -10vh;
    }

    &__link:hover #txt {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__item {
        height: 100%;
        width: 100%;
        display: block;
    }

    &__txt {
        display: flex;
        color: white;
        text-align: center;
        font-size: 30px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: $color1;
        font-family: 'Lobster', cursive;
        z-index: 999;
        opacity: 0;
    }

    img {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}


@media (max-width:768px){
    .portfolioContainer {
        padding-top: 10vh;
        height: 100%;
        &__link {
            margin: 10px;
            height:30vh;
            width: 45%;
        }
        &__txt {
            font-size: 22px;
        }
        &__background{
            display: none;
        }
    }
}


@media (max-width:576px){
    .portfolioContainer {
        padding-top: 10vh;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: space-around;
        justify-content: space-around;
        align-content: space-evenly;
        &__link {
            margin: 10px;
            height:25vh;
            width: 80%;
        }
        &__txt {
            font-size: 22px;
        }
        &__background{
            display: none;
        }
    }
}